"*":
  "atom-beautify":
    general:
      _analyticsUserId: "4149e456-3dd1-46fd-9d27-b53b1da9fb0f"
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "github"
    ]
    projectHome: "/home/btkostner/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    preferredLineLength: 120
    showInvisibles: true
  "exception-reporting":
    userId: "588896d3-eb0d-4afb-84bf-43b9a2c43776"
  "package-sync":
    createOnChange: true
  "project-manager":
    includeGitRepositories: true
    sortBy: "last modified"
  "status-bar": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
