[
  {
    title: "Infrastructure"
    group: "elementary"
    paths: [
      "/home/btkostner/Projects/elementary/infrastructure"
    ]
    color: "#3689e6"
  }
  {
    title: "dotfiles"
    group: "btkostner"
    paths: [
      "/home/btkostner/.local/share/chezmoi"
    ]
    color: "#ffa500"
  }
]
