{%- set uname = exec(command="uname -s") | trim -%}
[user]
    email = blake.kostner@hiive.com
    name = Blake Kostner
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKDNnAtY5h9FBJqT6Q68qzU+JBSSYtfhIqrtotpbrQCb

[gpg]
    format = ssh

[gpg "ssh"]
    program = {% if uname == "Darwin" %}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{% else %}/opt/1Password/op-ssh-sign{% endif %}

[commit]
    gpgsign = true

[url "git@github.com:"]
    insteadOf = https://github.com/
